<%= form_for @new_general_expense do |f| %>
  <div class="row mt-3 mb-2">
    <div class="col-12">
      <h5>Nuevo Gasto</h5>
      <div class="row">
        <div class="col-7 pr-1">
          <%= f.text_field :expense_name, class: "form-control", placeholder: "Nombre", required: true %>
        </div>
        <div class="col-5 pl-1">
          <%= f.text_field :cost, class: "form-control", placeholder: "Costo", required: true, type: "number" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-7 pr-1">
      <%= f.text_area :expense_description, class: "form-control", placeholder: "Descripción" %>
    </div>
    <div class="col-5 pl-1">
      <%= f.text_field :date_time, class: "form-control h-100", placeholder: "Fecha", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.hidden_field :company_id, value: @company.id %>
      <%= f.submit "Crear", class: "btn btn-block btn-success h-100" %>
    </div>
  </div>
<% end %>

<hr>

<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-secondary">
        <div class="row">
          <div class="col-8">
            <h4>Gastos</h4>
          </div>
          <div class="col-4 text-right">
            <%= link_to fa_icon("cog"), edit_company_path(@company), class: "btn btn-warning" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table js-general-expenses-table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Costo</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>

            <tbody>
              <% @general_expenses.each do |general_expense| %>
                <%= render partial: "general_expenses/general_expense", locals: { general_expense: general_expense } %>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= paginate @general_expenses %>
      </div>
    </div>
  </div>
</div>