<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-secondary">
        <h4>Crear Compañía</h4>
      </div>
      <div class="card-body">
        <%= form_for(@company) do |f| %>
          <div class="form-group">
            <label for="name">Nombre</label>
            <%= f.text_field :name, autofocus: true, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <label for="description">Descripción</label>
            <%= f.text_field :description, class: "form-control", required: true %>
          </div>

          <br>

          <div class="actions">
            <%= button_tag(class: "btn btn-success") do %>
              <%= fa_icon("check", text: "Crear") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
