<!DOCTYPE html>
<html>
  <head>
    <title>ContablePenguinsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body style="background-color: #e2e2e2;">
    <%= render partial: "layouts/alerts" %>

    <% if user_signed_in? %>
      <%= render partial: "layouts/navbar" %>
    <% end %>

    <%= yield %>

    <%= include_gon %>
  </body>
</html>
